
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="home">

</div>
<div class="homeimage"></div>
<div class="welcome"><h1>WELCOME</h1></div>
<div class="user"><h1>@Session["Name"].ToString().ToUpper()</h1></div>

